version: '3.0'

services:
  apache:
    container_name: apache2.4
    build:
      context: ./docker/apache
    ports:
         - "80:80"
         - "443:443"
    volumes:
      - ./:/usr/local/apache2/htdocs/site

  mysql:
    container_name: mysql5.7
    build: ./docker/mysql
    volumes:
      - /var/lib/mysql
    ports:
      - '3306:3306'
    env_file:
      - ./docker/.env

  php:
    container_name: php7.1
    build: ./docker/php
    volumes:
      - ./:/usr/local/apache2/htdocs/site
    depends_on:
      - apache
      - mysql
